http mustache.txt
[{"id":"b9ccd256.8a8d2","type":"function","z":"f47234dc.118848","name":"data","func":"msg.payload =   \n         {'time':'time.now()',\n          'sensorId':'Z3S4',\n          'trainId':'L2',\n          'trackSwitchId':'0',\n          'trackSwitchAlignment':'T',\n          'speed':'6'\n         };\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["861d9d82.4cc45"]]},{"id":"d3e9c323.f2d11","type":"http in","z":"f47234dc.118848","name":"/train","url":"/train","method":"get","upload":false,"swaggerDoc":"","x":150,"y":220,"wires":[["b9ccd256.8a8d2"]]},{"id":"861d9d82.4cc45","type":"template","z":"f47234dc.118848","name":"format html page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Train IoT-Real time data</h1>\n<table>\n    <tr>\n        <th>Time</th>\n        <th>Sensor ID</th>\n        <th>Train ID</th>\n        <th>Track Switch ID</th>\n        <th>Track Switch Alignment</th>\n        <th>Speed</th>\n    </tr>\n    <tr>\n        <td>{{payload.time}}</td>\n        <td>{{payload.sensorId}}</td>\n        <td>{{payload.trainId}}</td>\n        <td>{{payload.trackSwitchId}}</td>\n        <td>{{payload.trackSwitchAlignment}}</td>\n        <td>{{payload.speed}}</td>\n    </tr>\n</table>","x":650,"y":260,"wires":[["cb0d9b51.503ae8"]]},{"id":"cb0d9b51.503ae8","type":"function","z":"f47234dc.118848","name":"setHTTPheader","func":"// If sending JSON data the content type is:\n//msg.headers={\"Content-Type\":\"application/json\"}\n\n// For HTML use the content type line below:\nmsg.headers={\"Content-Type\":\"text/html\"}\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":260,"wires":[["b9fa98b.6da2068"]]},{"id":"b9fa98b.6da2068","type":"http response","z":"f47234dc.118848","name":"","statusCode":"","headers":{},"x":990,"y":260,"wires":[]}]