ndRED.txt
[{"id":"d697e5d8.b9fd48","type":"switch","z":"7c9dc534.76d0c4","name":"Switcher L1","property":"payload.trainId","propertyType":"msg","rules":[{"t":"eq","v":"L1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":354,"y":227,"wires":[["483534f6.e8312c"]]},{"id":"95597233.2a7b5","type":"debug","z":"7c9dc534.76d0c4","name":"L1 out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":660,"y":289,"wires":[]},{"id":"617f56c0.26505","type":"inject","z":"7c9dc534.76d0c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":111,"y":140,"wires":[["91756f97.048e48"]]},{"id":"483534f6.e8312c","type":"function","z":"7c9dc534.76d0c4","name":"L1 data","func":"return msg;","outputs":1,"noerr":0,"x":569,"y":231,"wires":[["95597233.2a7b5","e8e2c7f9.84079","7cdf8b75.e6185c","9fa27413.0fb998","e65f7188.d2fa6","ef1d4531.d0d6a8"]]},{"id":"1073d01e.f394e","type":"switch","z":"7c9dc534.76d0c4","name":"Switcher L2","property":"payload.trainId","propertyType":"msg","rules":[{"t":"eq","v":"L2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":346,"y":389,"wires":[["6149ca8e.58f3f4"]]},{"id":"6149ca8e.58f3f4","type":"function","z":"7c9dc534.76d0c4","name":"L2 data","func":"return msg;","outputs":1,"noerr":0,"x":565,"y":391,"wires":[["6e71e39e.989b84","b82f809d.ea34e8","d3dc2118.08924","8aa5c550.80da78","bcd5de2e.06cc9","a1ca3eb3.adb338"]]},{"id":"6e71e39e.989b84","type":"debug","z":"7c9dc534.76d0c4","name":"L2 out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":666,"y":340,"wires":[]},{"id":"91756f97.048e48","type":"function","z":"7c9dc534.76d0c4","name":"data","func":"var d = new Date();\nvar ts = d.getTime();\nvar speed=Math.floor(Math.random() * 10) + 1;\nvar trsalgn=Math.floor(Math.random() * 10) + 1;\nvar trId=Math.floor(Math.random() * 2) + 1;\nmsg.payload =   \n         {'time':ts,\n          'sensorId':'Z3S4',\n          'trainId':'L'+trId,\n          'trackSwitchId':trsalgn,\n          'trackSwitchAlignment':'T',\n          'speed':speed,\n         };\nreturn msg;","outputs":1,"noerr":0,"x":149,"y":308,"wires":[["d697e5d8.b9fd48","1073d01e.f394e"]]},{"id":"b82f809d.ea34e8","type":"ui_text","z":"7c9dc534.76d0c4","group":"5187f293.46cac4","order":0,"width":0,"height":0,"name":"Time","label":"Timestamp","format":"{{msg.payload.time}}","layout":"row-spread","x":777,"y":453,"wires":[]},{"id":"d3dc2118.08924","type":"ui_text","z":"7c9dc534.76d0c4","group":"5187f293.46cac4","order":0,"width":0,"height":0,"name":"Sensor_ID","label":"Sensor ID","format":"{{msg.payload.sensorId}}","layout":"row-spread","x":790,"y":491,"wires":[]},{"id":"8aa5c550.80da78","type":"ui_text","z":"7c9dc534.76d0c4","group":"5187f293.46cac4","order":0,"width":0,"height":0,"name":"TrackSwitch_ID","label":"trackSwitchId","format":"{{msg.payload.trackSwitchId}}","layout":"row-spread","x":799,"y":541,"wires":[]},{"id":"bcd5de2e.06cc9","type":"ui_text","z":"7c9dc534.76d0c4","group":"5187f293.46cac4","order":0,"width":0,"height":0,"name":"TrackSwitch_Alignment","label":"trackSwitchAlignment","format":"{{msg.payload.trackSwitchAlignment}}","layout":"row-spread","x":830,"y":592,"wires":[]},{"id":"a1ca3eb3.adb338","type":"ui_text","z":"7c9dc534.76d0c4","group":"5187f293.46cac4","order":0,"width":0,"height":0,"name":"Speed","label":"speed","format":"{{msg.payload.speed}}","layout":"row-spread","x":780,"y":642,"wires":[]},{"id":"e8e2c7f9.84079","type":"ui_text","z":"7c9dc534.76d0c4","group":"a9641137.ef90d8","order":0,"width":0,"height":0,"name":"Time","label":"Timestamp","format":"{{msg.payload.time}}","layout":"row-spread","x":846,"y":173,"wires":[]},{"id":"7cdf8b75.e6185c","type":"ui_text","z":"7c9dc534.76d0c4","group":"a9641137.ef90d8","order":0,"width":0,"height":0,"name":"Sensor_ID","label":"Sensor ID","format":"{{msg.payload.sensorId}}","layout":"row-spread","x":859,"y":211,"wires":[]},{"id":"9fa27413.0fb998","type":"ui_text","z":"7c9dc534.76d0c4","group":"a9641137.ef90d8","order":0,"width":0,"height":0,"name":"TrackSwitch_ID","label":"trackSwitchId","format":"{{msg.payload.trackSwitchId}}","layout":"row-spread","x":868,"y":261,"wires":[]},{"id":"e65f7188.d2fa6","type":"ui_text","z":"7c9dc534.76d0c4","group":"a9641137.ef90d8","order":0,"width":0,"height":0,"name":"TrackSwitch_Alignment","label":"trackSwitchAlignment","format":"{{msg.payload.trackSwitchAlignment}}","layout":"row-spread","x":899,"y":312,"wires":[]},{"id":"ef1d4531.d0d6a8","type":"ui_text","z":"7c9dc534.76d0c4","group":"a9641137.ef90d8","order":0,"width":0,"height":0,"name":"Speed","label":"speed","format":"{{msg.payload.speed}}","layout":"row-spread","x":849,"y":362,"wires":[]},{"id":"5187f293.46cac4","type":"ui_group","z":"","name":"L2 Data","tab":"8b319602.f9a54","order":2,"disp":true,"width":"6","collapse":false},{"id":"a9641137.ef90d8","type":"ui_group","z":"","name":"L1 Data","tab":"8b319602.f9a54","order":1,"disp":true,"width":"6","collapse":false},{"id":"8b319602.f9a54","type":"ui_tab","z":"","name":"L2","icon":"dashboard"}]