office_ui.txt
[{"id":"d697e5d8.b9fd48","type":"switch","z":"7c9dc534.76d0c4","name":"Switcher L1","property":"payload.trainId","propertyType":"msg","rules":[{"t":"eq","v":"L1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":354,"y":227,"wires":[["483534f6.e8312c"]]},{"id":"95597233.2a7b5","type":"debug","z":"7c9dc534.76d0c4","name":"L1 out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":660,"y":289,"wires":[]},{"id":"617f56c0.26505","type":"inject","z":"7c9dc534.76d0c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":141,"y":99,"wires":[["91756f97.048e48"]]},{"id":"483534f6.e8312c","type":"function","z":"7c9dc534.76d0c4","name":"L1 data","func":"return msg;","outputs":1,"noerr":0,"x":569,"y":231,"wires":[["95597233.2a7b5","c992d5b5.0eeff8"]]},{"id":"1073d01e.f394e","type":"switch","z":"7c9dc534.76d0c4","name":"Switcher L2","property":"payload.trainId","propertyType":"msg","rules":[{"t":"eq","v":"L2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":346,"y":389,"wires":[["6149ca8e.58f3f4"]]},{"id":"6149ca8e.58f3f4","type":"function","z":"7c9dc534.76d0c4","name":"L2 data","func":"return msg;","outputs":1,"noerr":0,"x":565,"y":391,"wires":[["6e71e39e.989b84","e52d9912.b8b0f8"]]},{"id":"6e71e39e.989b84","type":"debug","z":"7c9dc534.76d0c4","name":"L2 out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":666,"y":340,"wires":[]},{"id":"91756f97.048e48","type":"function","z":"7c9dc534.76d0c4","name":"data","func":"var d = new Date();\nvar ts = d.getTime();\nvar speed=Math.floor(Math.random() * 10) + 1;\nvar trsid1=Math.floor(Math.random() * 2) + 1;\nvar trsid2=Math.floor(Math.random() * 2) + 1;\nvar trId=Math.floor(Math.random() * 2) + 1;\nmsg.payload =   \n         {'time':ts,\n          'sensorId':'Z3S4',\n          'trainId':'L'+trId,\n          'trackSwitchId':'11',\n          'trackSwitchAlignment':'T',\n          'speed':speed,\n         };\nreturn msg;","outputs":1,"noerr":0,"x":149,"y":308,"wires":[["d697e5d8.b9fd48","1073d01e.f394e","f699ba18.9eeb18"]]},{"id":"f7454c00.179d5","type":"ui_gauge","z":"7c9dc534.76d0c4","name":"Speed Gauge","group":"a9641137.ef90d8","order":2,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"km/hr","format":"{{msg.payload.speed}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":871,"y":118,"wires":[]},{"id":"3cfa619a.530cae","type":"ui_gauge","z":"7c9dc534.76d0c4","name":"Speed Gauge","group":"5187f293.46cac4","order":2,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"km/hr","format":"{{msg.payload.speed}}","min":0,"max":"100","colors":["#00b0b5","#e6e600","#ca3838"],"seg1":"","seg2":"","x":988,"y":433,"wires":[]},{"id":"c992d5b5.0eeff8","type":"ui_template","z":"7c9dc534.76d0c4","group":"a9641137.ef90d8","name":"L1 html","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n<style>\ntable {\n    font-family: arial, sans-serif;\n    border-collapse: collapse;\n    width: 100%;\n}\n\ntd, th {\n    border: 1px solid #dddddd;\n    text-align: left;\n    padding: 8px;\n}\nth {\n    color:#faff9c;\n}\n\n}\n</style>\n</head>\n<body>\n<table>\n  <tr>\n    <th>Timestamp</th>\n    <th>Sensor ID</th>\n    <th>Track Switch ID</th>\n    <th>Track Switch Alignment</th>\n  </tr>\n  <tr>\n    <td ng-bind-html=\"msg.payload.time\"></td>\n    <td ng-bind-html=\"msg.payload.sensorId\"></td>\n    <td ng-bind-html=\"msg.payload.trackSwitchId\"></td>\n    <td ng-bind-html=\"msg.payload.trackSwitchAlignment\"></td>\n  </tr>\n</table>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":704,"y":173,"wires":[["f7454c00.179d5"]]},{"id":"f699ba18.9eeb18","type":"debug","z":"7c9dc534.76d0c4","name":"test ip","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":694,"y":539,"wires":[]},{"id":"e52d9912.b8b0f8","type":"ui_template","z":"7c9dc534.76d0c4","group":"5187f293.46cac4","name":"L2 html","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"utf-8\" />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <title>Loco</title>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" type=\"text/css\" media=\"screen\" href=\"main.css\" />\n    <script src=\"main.js\"></script>\n</head>\n<style>\ntable {\n    font-family: arial, sans-serif;\n    border-collapse: collapse;\n    width: 100%;\n}\ntd, th {\n    border: 1px solid #dddddd;\n    text-align: left;\n    padding: 8px;\n}\n</style>\n<body>\n    <div>\n        <table>\n          <tr>\n            <th>Timestamp</th>\n            <th>Sensor ID</th>\n            <th>Track Switch ID</th>\n            <th>Track Switch Alignment</th>\n          </tr>\n          <tr>\n            <td ng-bind-html=\"msg.payload.time\"></td>\n            <td ng-bind-html=\"msg.payload.sensorId\"></td>\n            <td ng-bind-html=\"msg.payload.trackSwitchId\"></td>\n            <td ng-bind-html=\"msg.payload.trackSwitchAlignment\"></td>\n          </tr>\n        </table>\n    </div>\n</body>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":781,"y":411,"wires":[["3cfa619a.530cae"]]},{"id":"a9641137.ef90d8","type":"ui_group","z":"","name":"Locomotive 1 ","tab":"8b319602.f9a54","order":1,"disp":true,"width":"6","collapse":false},{"id":"5187f293.46cac4","type":"ui_group","z":"","name":"Locomotive 2","tab":"8b319602.f9a54","order":2,"disp":true,"width":"6","collapse":false},{"id":"8b319602.f9a54","type":"ui_tab","z":"","name":"Real Time Dashboard","icon":"dashboard"}]