working node red.txt
[{"id":"fc54fd43.634e2","type":"mqtt out","z":"aca3f9cb.ce99e8","name":"","topic":"sensor_data","qos":"","retain":"","broker":"37ce306f.13992","x":730,"y":500,"wires":[]},{"id":"a5c337e1.022568","type":"mqtt in","z":"aca3f9cb.ce99e8","name":"","topic":"sensor_data","qos":"2","broker":"37ce306f.13992","x":270,"y":300,"wires":[["42dddcf9.f55924"]]},{"id":"42dddcf9.f55924","type":"json","z":"aca3f9cb.ce99e8","name":"to JSON","property":"payload","action":"","pretty":false,"x":450.59938049316406,"y":242.09091186523438,"wires":[["3839922a.5b233e"]]},{"id":"94230654.b0e0f8","type":"inject","z":"aca3f9cb.ce99e8","name":"injecter","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":240,"y":520,"wires":[["d24222f3.483ba"]]},{"id":"d24222f3.483ba","type":"function","z":"aca3f9cb.ce99e8","name":"data","func":"var d = new Date();\nvar ts = d.getTime();\nvar speed=Math.floor(Math.random() * 10) + 1;\nmsg.payload =   \n         {'time':ts,\n          'sensorId':'Z3S4',\n          'trainId':'L2',\n          'trackSwitchId':'0',\n          'trackSwitchAlignment':'T',\n          'speed':speed,\n         };\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":520,"wires":[["fc54fd43.634e2"]]},{"id":"3839922a.5b233e","type":"function","z":"aca3f9cb.ce99e8","name":"to JSON object","func":"msg.payload =   \n         {'time':msg.payload.time,\n          'sensorId':msg.payload.sensorId,\n          'trainId':msg.payload.trainId,\n          'trackSwitchId':msg.payload.trackSwitchId,\n          'trackSwitchAlignment':msg.payload.trackSwitchAlignment,\n          'speed':msg.payload.speed\n         };\nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"x":680,"y":220,"wires":[["f2260eca.4b6e4"]]},{"id":"f2260eca.4b6e4","type":"debug","z":"aca3f9cb.ce99e8","name":"formatted output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":900,"y":300,"wires":[]},{"id":"37ce306f.13992","type":"mqtt-broker","z":"","name":"Emq","broker":"q.emqtt.com","port":"1883","clientid":"tester","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]